body {
  background-color: #babac2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.land {
  position: absolute;
  font-size: 40px;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-weight: 1000;
  color: rgb(59, 53, 65);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  flex-grow: 1;
  position: relative;
}

.disabled {
  opacity: 0;
}

.enabled {
  opacity: 1;
}

.image {
  width: auto;
  height: 400px;
  margin: 0 auto;
}
