{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Soccer Match Stats</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}">
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class = "container">
  <div class="row">
    <div class="col-md-12">
      <div id="item-container">
        {% for item1, item2 in combined_instance %}
        <div class="item">
            <h2>Results for {{ item1.Team }}</h2>
            <ul>
              <li>
                <span class="date">{{ item1.Date }}</span>
                <span class="teams">
                  <span class="team-name">{{ item1.Team }}</span>
                  <span class="score">{{ item1.GF }}</span>
                  <span class="score">-</span>
                  <span class="score">{{ item1.GA }}</span>
                  <span class="team-name">{{ item1.Opponent }}</span>
                </span>
              </li>
            </ul>

            <div class="row">
              <div class="col-md-12">
                <div class="team-summary">
                  <div class="team-stats">
                    <table>
                      <thead>
                      <tr>
                        <th>{{ item1.Team }}</th>
                        <th>Stats</th>
                        <th>{{ item2.Team }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ item1.Shots }}</td>
                        <td>Shots</td>
                        <td>{{ item2.Shots }}</td>
                      </tr>
                      <tr>
                        <td>{{ item1.Shots_Target }}</td>
                        <td>Shots (Target)</td>
                        <td>{{ item2.Shots_Target }}</td>
                      </tr>
                      <tr>
                        <td>{{ item1.Offside }}</td>
                        <td>Offside</td>
                        <td>{{ item2.Offside }}</td>
                      </tr>
                      <tr>
                        <td>{{ item1.Fouls }}</td>
                        <td>Fouls</td>
                        <td>{{ item2.Fouls }}</td>
                      </tr>
                      <tr>
                        <td>{{ item1.Yellow }}</td>
                        <td>Yellow</td>
                        <td>{{ item2.Yellow }}</td>
                      </tr>
                      <tr>
                        <td>{{ item1.Red }}</td>
                        <td>Red</td>
                        <td>{{ item2.Red }}</td>
                      </tr>
                    </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-end">
      <div class="button-container">
        <button id="previous-button" class="btn btn-primary" disabled>Previous</button>
        <button id="next-button" class="btn btn-primary">Next</button>
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <div class="page-number" id="page-number">Page 1</div>
    </div>
  </div>
</div>

<script src="{% static 'js/stats.js' %}"></script>

{% endblock %}