{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Contact</title>
<link rel="stylesheet" type="text/css" href="{% static 'soccerboard/css/contact.css' %}">
{% endblock %}

{% block body %} 
<br>
<div class = "pic">
    <div class="container">
      <div class="contact-heading">
        <h2>Contact Us</h2>
      </div>
    <div class="contact-description">
      <p>If you have any comments, questions, or suggestions, feel free to contact us.</p>
    </div>
    <form method="POST" action="{% url 'contact' %}" class ="form-test"  id="contactForm">
      {%csrf_token%}
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" value = "{{first}}" required>
            {% if errors.first %}
            <span style="color: red; font-size: smaller;"">{{ errors.first }}</span>
            {% endif %}
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" value = "{{last}}" required>
            {% if errors.last %}
            <span style="color: red; font-size: smaller;">{{ errors.last }}</span>
            {% endif %}
          </div>
        </div>
      </div>
      {% if errors.full_name %}
      <span style="color: red; font-size: smaller;">{{ errors.full_name }}</span>
      {% endif %}

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value = "{{email}}" required>
        {% if errors.email %}
        <span style="color: red; font-size: smaller;">{{ errors.email }}</span>
        {% endif %}
      </div>
      <label>Subject</label>
      <select name = "subject" class="browser-default custom-select mb-4">
          <option value="" selected disabled >Choose option</option>
          <option value="Feedback" selected>Feedback</option>
          <option value="Report a Bug">Report a Bug</option>
          <option value="Feature Request">Feature Request</option>
      </select>
  
      <!-- Message -->
      <div class="form-group">
          <textarea name="message"class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message" required>{{message}}</textarea>
            {% if errors.message %}
          <span style="color: red; font-size: smaller;">{{ errors.message }}</span>
            {% endif %}
      </div>
  
      <div class="custom-control custom-checkbox mb-4">
          <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy" name="sendCopy" required>
          <label class="custom-control-label" for="defaultContactFormCopy" required>Send me a copy of the form</label>
      </div>
  
      <!-- Send button -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  </div>

{%endblock%}
