{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>League Table</title>
<link rel="stylesheet" type="text/css" href="{% static 'soccerboard/css/league_table.css' %}">
{% endblock %}
{% block body %}
<h1 class="text-center mt-3 table-heading">Current {{league_name}} Table</h1>
<table class="data-table">
   <thead>
      <tr>
         {% for column in data.columns %}
         <th>{{ column }}</th>
         {% endfor %}
      </tr>
   </thead>
   <tbody>
      {% for row in data.values %}
      <tr>
         {% for cell in row %}
         <td>{{ cell }}</td>
         {% endfor %}
      </tr>
      {% endfor %}
   </tbody>
</table>
{% endblock %}